.how-works-main {
  .how-works-header {
    text-align: center;
    max-width: 82%;
    margin: 0 auto;
    position: relative;
    h1 {
      text-align: center;
      font-size: 84px;
      font-style: normal;
      font-weight: 700;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h6 {
      color: #fff;
      font-size: 43px;
      margin: 0 auto;
      line-height: 1.5;
      font-weight: 700;
    }
    span {
      color: #b626dd;
      // font-size: 48px;
    }
    img {
      width: 100px;

      position: absolute;
    }
    .img1 {
      left: 0;
      top: 20px;
    }
    .ploygon {
      right: -100px;
      top: 30px;
      height: 150px;
      width: auto;
      z-index: -1;
    }
    .img2 {
      right: 0;
      top: 20px;
    }
    .img3 {
      left: 0;
      bottom: -70px;
    }
    .img4 {
      right: 0;
      bottom: -70px;
    }
    .second-right-part {
      span {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 80px;
    }
  }
  p {
    margin-top: 30px;
  }
  video {
    object-fit: cover;
    border-radius: 35px;
  }
  .animation-wrapper {
    padding-top: 100px;
    @media (max-width: 1399px) {
      .left-part {
        span {
          padding-left: 40px;
          font-size: 40px;
        }
        p {
          padding-left: 40px;
          font-size: 20px;
        }
      }
      .second-right-part {
        span {
          padding-right: 60%;
          font-size: 40px;
        }
        p {
          padding-right: 60%;

          font-size: 20px;
        }
      }
    }
  }
  .images-wrapper {
    width: 260px;
    height: 540px;
  }
  @media (max-width: 991px) {
    .phone-frame {
      transform: translateX(20vw);
    }
    .images-wrapper {
      transform: translateX(20vw);
    }
    .second-right-part {
      position: absolute;
      left: 0px;
      width: 46%;
      span {
        font-size: 40px;
        text-align: right;
        width: 100%;
        padding-right: 0 !important;
      }
      p {
        font-size: 20px;
        text-align: right;
        width: 100%;
        padding-right: 0 !important;
      }
    }
    .left-part {
      width: 50%;
      padding-right: 0;
    }
  }

  @media (max-width: 768px) {
    .how-works-header {
      max-width: 100%;
      h1 {
        font-size: 40px;
        padding: 0 12%;
      }
      h6 {
        font-size: 23px;
        font-weight: 500;
        padding: 0 12%;
      }
      img {
        width: 70px;
      }
      .ploygon {
        right: -50px;
        height: 100px;
      }
    }
    .overflow {
      overflow-x: hidden;
      overflow-y: visible;
    }
    .animation-wrapper {
      padding-top: 0;
    }
    .phone-frame {
      width: 230px;
    }
    .images-wrapper {
      width: 220px;
      height: 450px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .second-right-part {
      span {
        font-size: 30px !important;
        margin-top: 30px;
      }
      p {
        font-size: 16px !important;
        font-weight: 400;
      }
    }
    .left-part {
      span {
        font-size: 30px !important;
        margin-top: 30px;
      }
      p {
        font-size: 16px !important;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 576px) {
    .phone-frame {
      width: 199px;
      height: 400px;
    }

    .images-wrapper {
      width: 199px;
      height: 400px !important;
      overflow: hidden;
      img {
        height: 98% !important;
        width: 98%;
        border-radius: 25px !important;
      }
      video {
        margin-left: 6px;
      }
    }
    .second-right-part {
      width: 40%;
      span {
        font-size: 23px !important;
        margin-top: 70px;
      }
      p {
        font-size: 14px !important;
      }
    }
    .left-part {
      width: 47%;
      span {
        font-size: 23px !important;
        margin-top: 70px;
      }
      p {
        font-size: 14px !important;
      }
    }
  }
}
