.brilliance-main-div {
  // margin-bottom: 400px;
  // background-image: url(../../assets/Images/brandbgImg.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  @media (max-width: 768px) {
    margin-top: 0;
  }
  .title-div,
  .desc-div {
    .title {
      text-align: center;
      font-size: 64px;
      font-weight: 700;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media (max-width: 768px) {
      .title {
        font-size: 45px;
      }
    }
  }
  .desc-div {
    .description {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      max-width: 860px;
      margin: 0 auto;
    }
    .title {
      font-size: 38px;
    }
    @media (max-width: 768px) {
      .description {
        font-size: 16px;
        font-weight: 400;
        padding: 0 10%;
      }
      .title {
        font-size: 32px;
        padding: 0 20px;
        line-height: 1.4;
      }
    }
  }
  .top-btn-div {
    background: transparent
      linear-gradient(90deg, #b827dc 0%, #a322de 26%, #4190f5 86%, #6bdef8 100%)
      0% 0% no-repeat padding-box;
    border-radius: 50em;
    cursor: pointer;

    width: 260px;
    height: 70px;

    .top-btn {
      background: black;
      border: none;
      border-radius: 50em;
      font-size: 25px;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 60px;
    }
  }
  .images-div {
    height: 125vh;
    position: relative;
    text-align: center;
    top: 100px;
    transition: transform 0.4s ease;

    .iphone-div {
      position: relative;

      .analytics-img {
        bottom: -70px;
        position: absolute;
        left: -5%;
        z-index: 99;
        transition: transform 0.4s ease;
        img {
          width: 100%;
        }
      }

      .left-mobile {
        width: 52%;
        margin-right: -40%;
        transition: transform 0.4s ease;
      }
      .right-mobile {
        margin-left: -40%;
        transition: transform 0.4s ease;
        width: 52%;
      }
      .mobile {
        z-index: 1;
        position: inherit;
        margin-top: -150px;
        transition: transform 0.6s ease;
        width: 60%;
        height: 100%;
      }

      .target-img {
        position: absolute;
        z-index: -99;
        right: 0px;
        bottom: 350px;
        top: 0;
        transition: transform 0.4s ease;
      }
      .work {
        z-index: 9;
        position: relative;
      }
      &:hover {
        .analytics-img {
          transform: translateX(70px);
        }
        .target-img {
          transform: translate(-150px, 50px);
        }
        .mobile {
          transform: translateY(120px);
        }
        .left-mobile {
          transform: translateY(50px);
        }
        .right-mobile {
          transform: translateY(50px);
        }
        @media (max-width: 768px) {
          .mobile {
            transform: translateY(90px);
          }
        }
      }
      @media (max-width: 991px) {
        .analytics-img {
          left: -15%;
          img {
            width: 65%;
          }
        }
        .left-mobile {
          width: 70%;
          margin-right: -50%;
        }
        .right-mobile {
          width: 70%;
          margin-left: -50%;
        }
        .mobile {
          margin-top: -70px;
          width: 70%;
        }
      }
      @media (max-width: 768px) {
        .analytics-img {
          left: -35%;
          img {
            width: 40%;
          }
        }
        .left-mobile {
          margin-right: -45%;
          width: 65%;
        }
        .right-mobile {
          margin-left: -45%;
          width: 65%;
        }
        .mobile {
          margin-top: -40px;
          width: 65%;
        }
      }
      
    }
  }
  @media (max-width: 576px) {
    .images-div {
      height: 71vh;
    }
  }
  @media (max-width: 991px) {
    .images-div {
      height: 85vh;
    }
  }
}
