.brilliance-main-div {
  .title-div {
    .title {
      text-align: center;
      font-size: 64px;
      font-weight: 700;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .desc-div {
    .description {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .top-btn-div {
    background: transparent
      linear-gradient(90deg, #b827dc 0%, #a322de 26%, #4190f5 86%, #6bdef8 100%)
      0% 0% no-repeat padding-box;
    border-radius: 50em;
    cursor: pointer;

    width: 260px;
    height: 70px;

    .top-btn {
      background: black;
      border: none;
      border-radius: 50em;
      font-size: 25px;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 60px;
    }
  }
  .images-div {
    height: 100vh;
    position: relative;
    text-align: center;

    .iphone-div {
      position: relative;
      .analytics-img {
        bottom: 0;
        position: absolute;
        z-index: 99;
        img {
          height: 380px;
        }
      }
      .target-img {
        position: absolute;
        z-index: 0;
        right: 50px;
        top: 0;
        img {
          height: 300px;
        }
      }
      .work {
        z-index: 9;
        position: relative;
      }
    }
  }
}
