.brand-main-div {
  // overflow-x: hidden;
  .footer {
    background-image: url(../../assets/Images/brandbgImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
  }
}
