.brand-main-div {
  // overflow-x: hidden;
  background-image: url(../../assets/Images/brandbgImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  // height: 100vh;
  background-attachment: fixed;
  // position: fixed;
  .footer {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @media (max-width:768px) {
    .footer {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
