.success-sign-up-div {
  // height: 100vh;
  @media (max-width: 600px) {
   margin: 25px;
  }
  .content-div {
    text-align: center;
    .thanks-div {
      h1 {
        font-size: 70px;
        height: 100px;
        background: transparent
          linear-gradient(
            90deg,
            #b827dc 0%,
            #a322de 26%,
            #4190f5 86%,
            #6bdef8 100%
          )
          0% 0% no-repeat padding-box;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 750px) {
          height: unset;
        }
        @media (max-width: 600px) {
          font-size: 32px;
        }
      }
    }
    .congrets-div {
      text-align: center;
      h5 {
        font-weight: 400;
        font-size: 17px;
        @media (max-width: 600px) {
          font-size: 15px;
        }
      }
      .unlocked {
        line-height: 26px;
        width: 75%;
        @media (max-width: 600px) {
          width: unset;
        }
      }
      .team {
        font-weight: 500;
      }
    }
    .invite-div {
      .friends {
        font-size: 48px;
        font-weight: 600;
        @media (max-width: 600px) {
          font-size: 32px;
        }
        .invite {
          background: transparent
            linear-gradient(
              90deg,
              #b827dc 0%,
              #a322de 26%,
              #4190f5 86%,
              #6bdef8 100%
            )
            0% 0% no-repeat padding-box;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .top-btn-div {
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;
      border-radius: 50em;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      .top-btn {
        background: black;
        border: none;
        border-radius: 50em;
        font-size: 25px;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 15px;
        h6 {
          font-size: 18px;
        }
      }
      h6 {
        margin-left: 10px;
      }
    }
    .earn-div {
      width: 55%;
      @media (max-width: 800px) {
        width: unset;
      }
      h5 {
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        line-height: 30px;
        @media (max-width: 600px) {
          font-size: 15px;
        }
        span {

          background: transparent
            linear-gradient(
              90deg,
              #b827dc 0%,
              #a322de 26%,
              #4190f5 86%,
              #6bdef8 100%
            )
            0% 0% no-repeat padding-box;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  .img-div {
    img {
      width: 430px;
      height: 460px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .like-img {
      height: 60px;
      width: 57px;
      left: 225px;
      bottom: 117px;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
}
