.success-sign-up-div {
  background-image: url(../../assets/Images/brandbgImg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @media (max-width: 600px) {
   margin: 25px;
  }
  .content-div {
    text-align: center;
    position: relative;
    z-index: 9;
    .thanks-div {
      .joining-span {
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 0 !important;
        background: transparent
          linear-gradient(
            90deg,
            #b827dc 0%,
            #a322de 26%,
            #4190f5 86%,
            #6bdef8 100%
          )
          0% 0% no-repeat padding-box;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 750px) {
          height: unset;
        }
        @media (max-width: 600px) {
          font-size: 32px;
        }
      }
    }
    .image-div{
      text-align: center;
      @media (max-width: 600px) {
       margin-left: 0 !important;
       padding-left: 0 !important;
      }
      .polygon-left{
        position: absolute;
        margin-left: -40px;
        margin-top: 120px;
        @media (max-width:600px) {
          display: none;
          
        }
      }
      .desk-img{
        position: relative;
        z-index: 9;
        @media (max-width:600px) {
         position: unset;
          width: 100%;
        }
      }

      .polygon-right{
        position: absolute;
        right: 0;
        margin-right: 105px;
        @media (max-width:600px) {
          display: none;
          
        }
      }
 

    }
    .congrets-div {
      text-align: center;
      h5 {
        font-weight: 600;
        font-size: 20px;
   
      }
      .unlocked {
        line-height: 27px;
        font-size: 20px;
        width: 90%;
        @media (max-width: 600px) {
          width: unset;
          margin-top: 20px;
        }
      }
      // .team {
      //   font-weight: 500;
      // }
    }
    .invite-div {
      .friends {
        font-size: 44px;
        font-weight: 600;
        @media (max-width: 600px) {
          font-size: 32px;
        }
        .invite {
          font-weight: bold;
          background: transparent
            linear-gradient(
              90deg,
              #b827dc 0%,
              #a322de 26%,
              #4190f5 86%,
              #6bdef8 100%
            )
            0% 0% no-repeat padding-box;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .top-btn-div {
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;
      border-radius: 50em;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      .top-btn {
        background: black;
        border: none;
        border-radius: 50em;
        font-size: 25px;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
        padding: 13px;
        h6 {
          font-size: 20px;
        }
      }
      h6 {
        margin-left: 10px;
      }
    }
    .earn-div {
      width: 70%;
      @media (max-width: 800px) {
        width: unset;
      }
      h5 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
        @media (max-width: 600px) {
          font-size: 20px;
        }
        span {
          font-weight: bold;
          background: transparent
            linear-gradient(
              90deg,
              #b827dc 0%,
              #a322de 26%,
              #4190f5 86%,
              #6bdef8 100%
            )
            0% 0% no-repeat padding-box;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  // .img-div {
  //   .girl-img{

  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //   }
  //   img {
  //     width: 430px;
  //     height: 460px;
  //   }
  //   .like-img {
  //     img{
  //       height: 60px;
  //       width: 57px;
  //     }
   
    
  //   }
  //   @media (max-width: 900px) {
  //     display: none;
  //   }
  // }
}
