.brand-success-main-div {
  // background-image: url(../../assets/Images/brandbgImg.png);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // height: 1000px;

  .brand-inner-div {
    // background: linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 0.72) 0%,
    //   rgba(0, 0, 0, 0) 64.58%,
    //   rgba(0, 0, 0, 0.78) 100%
    // );

    .left-part {
      .content {
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        // margin-bottom: 440px;

        span {
          background: transparent
            linear-gradient(
              90deg,
              #b827dc 0%,
              #a322de 26%,
              #4190f5 86%,
              #6bdef8 100%
            )
            0% 0% no-repeat padding-box;

          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      @media (max-width: 768px) {
        .content {
          font-size: 45px;
          text-align: center;
        }
      }
      @media (max-width: 576px) {
        .content {
          font-size: 24px;
          text-align: center;
        }
      }
    }
    .right-part {
      transition: 0.4s ease;
      // margin-bottom: 400px;
      // height: 1000px;

      .images-div {
        margin-top: -70px;
        img {
          transform: rotate(20deg);
          transition: transform 0.4s ease;
        }
        .polygon-img {
          position: absolute;
          right: 50px;
          transform: rotate(45deg);
          margin-top: -100px;
        }

        .poly-img {
          margin-top: -220px;
          margin-left: 390px;
          position: absolute;
          transform: rotate(45deg);
        }
        .logo {
          width: 362px;
          height: 406px;
        }
        @media (max-width: 768px) {
          .logo {
            width: 250px;
            height: 250px;
          }
          .polygon-img {
            right: 0;
            margin-top: -150px;
          }
          .polygon-img img {
            height: 100px;
            width: auto;
          }
          .poly-img {
            margin-top: -150px;
            margin-left: 0px;
            left: 0;
          }
          .poly-img img {
            height: 100px;
            width: auto;
          }
        }
        @media (max-width:576px) {
          .polygon-img {
            margin-top: 0px;
          }
        }
      }
      .iphone-div {
        .phone-wrapper {
          position: relative;
          height: 480px;
          width: 238px;
        }
        img {
          width: 100%;
          height: 100%;
        }
        video {
          border-radius: 35px;
          width: 95% !important;
          object-fit: cover;
        }
        .first-div {
          position: absolute;
          margin-top: 360px;
          margin-left: -170px;
          transition: transform 0.4s ease;
        }
        .second-div {
          margin-left: 0px;
          margin-top: -805px;
          z-index: 999;
          transition: transform 0.4s ease;
        }
        @media (max-width: 768px) {
          .first-div {
            margin-left: -40px;
            left: 50%;
          }
          .phone-wrapper {
            height: 400px;
            width: 199px;
          }
          img {
            width: 100%;
            height: 100%;
          }
          video {
            border-radius: 35px;
            width: 95% !important;
            object-fit: cover;
          }
        }
        @media (max-width:576px) {
          .first-div {
            margin-left: -50px;
            margin-top: 0;
          }
          .second-div {
            margin-left: -40px;
            margin-top: -90px;
            z-index: 999;
            transition: transform 0.4s ease;
          }
        }
      }
      @media (max-width: 768px) {
        .iphone-div {
          transform: translateX(-50%) !important;
          left: 50%;
          position: absolute;
          height: 440px;
          width: 218px;
        }
      }
    }
  }
  .top-btn-div {
    font-size: 25px;
  }
  .social-media-icons {
    gap: 30px;
    img {
      cursor: pointer;
    }
  }
}
