.talk-main-div {
  background-image: url(../../assets/Images/brandbgImg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // overflow-x: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  .talk-content {
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease;
    .animation-wrapper {
      height: 300px;
      width: 100%;
      overflow-x: hidden;
    }
    h2 {
      margin-top: 10px;
      width: 800px;
      text-align: center;
      font-size: 64px;
      font-weight: 700;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      color: #fff;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
    }
    .btn-div {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;
      border-radius: 50em;
      cursor: pointer;

      width: 260px;
      height: 70px;

      .gt-demo {
        background: black;
        border: none;
        border-radius: 50em;
        font-size: 25px;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 60px;
      }
    }

    .polygon-left {
      position: absolute;
      top: 136px;
      left: 338px;
      transition: transform 0.6s ease;
    }
    .logo {
      position: absolute;
      bottom: 363px;
      transition: transform 0.6s ease;
    }
    .polygon-right {
      position: absolute;
      top: 90px;
      right: 317px;
      transition: transform 0.6s ease;
    }

    &:hover {
      .polygon-left {
        transform: translate(-500px, 170px);
      }
      .logo {
        transform: rotate(-135deg);
      }
      .polygon-right {
        transform: translate(420px, 60px);
      }
    }
    @media (max-width: 768px) {
      h2 {
        font-size: 45px;
        max-width: 350px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        max-width: 350px;
      }
      .logo {
        top: -40px;
        width: 250px;
        height: 250px;
      }
      .polygon-left {
        height: 120px;
        width: auto;
        top: 20px;
        left: 65%;
      }
      .polygon-right {
        height: 120px;
        width: auto;
        top: 20px;
        right: 65%;
      }
      .animation-wrapper {
        height: 150px;
      }
    }
    &:hover {
      .polygon-left {
        transform: translate(-56vw, 60px);
      }
      .logo {
        transform: rotate(-135deg);
      }
      .polygon-right {
        transform: translate(56vw, 60px);
      }
    }
    @media (max-width: 576px) {
      h2 {
        font-size: 36px;
      }}
  }
}
