.gradient-border1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 67px;
  // margin-left: 6px;
  border-radius: 50px;
  color: white;
  background: #000000;
  cursor: pointer !important;
}
.box {
  --border-size: 4px;
  --border-radius: 50px;
  --border-angle: 0turn;
  width: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
  height: 75px;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #b827dc, #6bdef8);
  background-size: calc(100% - (var(--border-radius) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50px;
  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.passion-div{
  font-family: "Inter-Medium";
  // font-size: 60px;
  font-weight: bold;
  background: transparent
    linear-gradient(
      90deg,
      #b827dc 0%,
      #a322de 26%,
      #4190f5 86%,
      #6bdef8 100%
    )
    0% 0% no-repeat padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 0.4s forwards ease-in-out;
  animation-delay: 0.4s;
  opacity: 0;
}