.services-main-div {
    // top: 0% !important;
    font-size: 60px;
    font-family: "Inter-Medium";
    // height: 100vh;
    // position: sticky;
    // display: flex;
  
    .scrollable-content {
      // padding-left: 50%;
      .parallex-layer{
        .image-div{
          height: 100vh;
          img{
            height: 100vh;
          }
        }
      }
    }
    .scrollable-content {
      // overflow-y: scroll;
      margin-top: 0 !important;
      // position: unset !important;
      overflow-x: hidden !important;
    }
    // .text-div {
    //   line-height: 1;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   width: 50%;
    //   .subs-div {
    //     font-size: 80px;
    //     background: transparent
    //       linear-gradient(
    //         90deg,
    //         #b827dc 0%,
    //         #a322de 26%,
    //         #4190f5 86%,
    //         #6bdef8 100%
    //       );
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     line-height: 1;
    //   }
    //   .startearning-div button {
    //     background: linear-gradient(black, black) padding-box,
    //       linear-gradient(
    //         90deg,
    //         #b827dc 0%,
    //         #a322de 26%,
    //         #4190f5 86%,
    //         #6bdef8 100%
    //       );
    //     border-radius: 50em;
    //     border: 4px solid transparent;
    //     color: white;
    //     padding: 1.5rem 5rem;
    //     cursor: pointer;
    //     font-size: 18px;
    //   }
    // }
    // .phone-rightside {
    //   padding-left: 57px;
    //   max-width: 155px;
    //   h1 {
    //     font-size: 150px;
    //     font-family: "Inter-Bold";
    //   }
    //   h6 {
    //     font-size: 20px;
    //     font-family: "Inter-Regular";
    //     margin-top: 1rem;
    //   }
    // }
    // input {
    //   height: 30px;
    //   width: 180px;
    //   background: black;
    //   border: 1px solid #585858;
    //   border-radius: 50rem;
    // }
    // .join-btn {
    //   background: linear-gradient(
    //     90deg,
    //     #b827dc 0%,
    //     #a322de 26%,
    //     #4190f5 86%,
    //     #6bdef8 100%
    //   );
    //   background-repeat: no-repeat;
    //   border-radius: 50em;
    //   font-family: "Inter-Medium";
    //   font-size: 13px;
    //   // border: 4px solid transparent;
    //   color: white;
    //   padding: 0.5rem 4rem;
    //   outline: none !important;
    //   cursor: pointer;
    //   margin-top: 1.7rem;
    // }
  
  
  
  
    // .section-container {
    //   display: flex;
    //   align-items: stretch;
    // }
  
    // .left-side {
    //   flex: 1;
    //   padding: 20px;
    //   background-color: lightgray;
    // }
  
    // .right-side {
    //   flex: 1;
    //   display: flex;
    //   flex-direction: column;
    //   overflow: hidden;
    // }
  
    // .scrollable-box {
    //   flex: 1;  
    //   padding: 20px;
    //   background-color: white;
    // }
  
    // .below-content {
    //   padding: 20px;
    //   background-color: lightgray;
    // }
  }
  
  // .back-div {
  //   position: absolute;
  //   // width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: end;
  //   z-index: 999;
  //   margin-top: 358px;
  //   height: 235px;
  //   width: 248px;
  //   margin-left: 10px;
  
  //   // .img-content {
  //   //   // margin-top: 200px;
  
  //   //   background: linear-gradient(
  //   //     to bottom,
  //   //     rgba(145, 144, 144, 0),
  //   //     rgba(0, 0, 0, 0.7)
  //   //   );
  //   //   width: 260px;
  //   //   padding-left: 15px;
  //   //   padding-right: 15px;
  
  //   //   // border-radius: 0px 0px 20px 20px;
  //   // }
  //   // .form-check {
  //   //   .tabs {
  //   //     background-color: #4a4a4a;
  //   //     box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
  //   //       0 6px 12px 0 rgba(24, 94, 224, 0.15);
  //   //     border-radius: 99px;
  //   //     width: fit-content !important;
  //   //   }
  
  //   //   .tabs * {
  //   //     z-index: 2;
  //   //   }
  
  //   //   .tab {
  //   //     height: 28px;
  //   //     width: 115px;
  //   //     font-size: 11px;
  //   //     color: rgb(178, 178, 178);
  //   //     font-weight: 500;
  //   //     border-radius: 99px;
  //   //     cursor: pointer;
  //   //     transition: color 0.15s ease-in;
  //   //   }
  
  //   //   .glider {
  //   //     position: absolute;
  //   //     display: flex;
  //   //     height: 28px;
  //   //     width: 115px;
  //   //     background: linear-gradient(
  //   //         90deg,
  //   //         #b827dc 0%,
  //   //         #a322de 26%,
  //   //         #4190f5 86%,
  //   //         #6bdef8 100%
  //   //       )
  //   //       0% 0% no-repeat padding-box;
  //   //     z-index: 1;
  //   //     border-radius: 99px;
  //   //     transition: 0.25s ease-out;
  //   //   }
  //   //   .main-tab {
  //   //     input[type="radio"] {
  //   //       display: none;
  //   //     }
  //   //     input[type="radio"]:checked + label {
  //   //       color: white;
  //   //     }
  
  //   //     input[type="radio"]:checked + label > .notification {
  //   //       background: linear-gradient(
  //   //           90deg,
  //   //           #b827dc 0%,
  //   //           #a322de 26%,
  //   //           #4190f5 86%,
  //   //           #6bdef8 100%
  //   //         )
  //   //         0% 0% no-repeat padding-box;
  //   //       border-radius: 50em;
  //   //       font-family: "Inter-Medium";
  //   //       font-size: 15px;
  //   //       border: 4px solid transparent;
  //   //       color: white;
  //   //       padding: 5px 2.25rem;
  //   //       cursor: pointer;
  //   //       color: #fff;
  //   //       margin: 0px;
  //   //     }
  
  //   //     input[id="radio-1"]:checked ~ .glider {
  //   //       transform: translateX(0);
  //   //     }
  
  //   //     input[id="radio-2"]:checked ~ .glider {
  //   //       transform: translateX(100%);
  //   //     }
  
  //   //     input[id="radio-3"]:checked ~ .glider {
  //   //       transform: translateX(0);
  //   //     }
  
  //   //     input[id="radio-4"]:checked ~ .glider {
  //   //       transform: translateX(100%);
  //   //     }
  
  //   //     input[id="radio-5"]:checked ~ .glider {
  //   //       transform: translateX(0);
  //   //     }
  
  //   //     input[id="radio-6"]:checked ~ .glider {
  //   //       transform: translateX(100%);
  //   //     }
  //   //   }
  //   // }
  // }
  
  // .subscription {
  //   background: linear-gradient(
  //       90deg,
  //       #b827dc 0%,
  //       #a322de 26%,
  //       #4190f5 86%,
  //       #6bdef8 100%
  //     )
  //     0% 0% no-repeat padding-box;
  //   border-radius: 50em;
  //   font-family: "Inter-Medium";
  //   font-size: 12px;
  //   border: 4px solid transparent;
  //   color: white;
  //   padding: 5px 2.25rem;
  //   width: 100%;
  //   cursor: pointer;
  // }
  
  // .progress-bar {
  //   background: linear-gradient(
  //       90deg,
  //       #b827dc 0%,
  //       #a322de 26%,
  //       #4190f5 86%,
  //       #6bdef8 100%
  //     )
  //     0% 0% no-repeat padding-box !important;
  // }
  
  // @media (max-width: 1200px) {
  //   .subscpition-main-div {
  //     font-size: 50px;
  
  //     .text-div {
  //       .subs-div {
  //         font-size: 50px;
  //       }
  //     }
  //   }
  // }
  
  // @media (max-width: 992px) {
  //   .subscpition-main-div {
  //     top: -20% !important;
  //     font-size: 50px;
  //     text-align: center;
  
  //     .scrollable-content {
  //       padding-left: 0px !important;
  //     }
  //     .phone {
  //       // padding-left: 150px;
  //       position: relative;
  //     }
  //     .text-div {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       flex-direction: column;
  //       width: 100%;
  //       .subs-div {
  //         font-size: 60px;
  //       }
  //     }
  //   }
  // }
  
  // @media (max-width: 576px) {
  //   .subscpition-main-div {
  //     .text-div {
  //       font-size: 40px;
  //       width: 100%;
  //       .subs-div {
  //         font-size: 40px;
  //       }
  //     }
  //   }
  //   .parallex1 {
  //     // max-width: 100% !important;
  //     padding-left: 10px !important;
  //     margin-top: -60px !important;
  //   }
  //   .parallex-layer {
  //     left: -4px !important;
  //     margin-left: 17px !important;
  //   }
  //   .paradiv {
  //     width: 100px !important;
  //     // display: flex !important;
  //     // justify-content: center;
  //     // align-items: center;
  //     // flex-direction: column  ;
  //   }
  //   .video-subs {
  //     // width: 209px !important;
  //     height: 360px !important;
  //     // margin-left: -5px !important;
  //     padding-left: 0px !important;
  //   }
  //   .video1{
  //     height: 360px !important;
  //   }
  //   .video2{
  //     height: 360px !important;
  //   }.video3{
  //     height: 360px !important;
  //   }
  //   .video-subs3{
  //     margin-top: -3px !important;
  
  //   }
  //   .back-div1 {
  //     width: 205px !important;
  //     margin-top: -254px !important;
  //   }
  //   .back-div{
  //     margin-left: -0px !important;
  //   }
  //   // .phone3{
  //   //   height: 350px !important;
  //   // }
  //   .phone-rightside {
  //     padding-left: 0px !important;
  //     width: 200px !important;
  
  //     h1{
  //       font-size: 120px !important;
  //     }
  //     h6{
  // font-size: 18px !important;
  //     }
  //   }
  //   .phone2 {
  //     width: 227px !important;
  //   }
  //   .scrollable-content {
  //     height: 400px !important;
  //   }
  // }
  
  // @media (max-width: 400px) {
  //   .subscpition-main-div {
  //     .text-div {
  //       font-size: 31px;
  //       width: 100%;
  //       .subs-div {
  //         font-size: 31px;
  //       }
  //     }
  //   }
  // }
  
  