.get-started-step-div {
  .title-div {
    h4 {
      text-align: center;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .stick {
    background-image: url(../../assets/Images/brandbgImg.png);
  }
  .leftpart {
    position: absolute;
    left: -30px;
    text-align: right;

    width: calc(50% - 135px);
    .number-span {
      display: flex;
      line-height: 1.2;
      flex-direction: column;
      font-size: 64px;
      font-weight: 700;
      margin-top: 10px;
    }
    p {
      display: flex;
      flex-direction: column;
      font-size: 40px;
      color: #fff;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }
    h6 {
      font-size: 20px;
      font-weight: 500;
      text-align: end;
    }
  }
  .second-rightpart {
    position: absolute;
    right: -30px;
    width: calc(50% - 135px);
    .number-span {
      display: flex;
      width: 512px;
      flex-direction: column;
      line-height: 1.2;
      margin-bottom: 10px;
      margin-right: 50px;
      text-align: left;
      font-size: 64px;
      font-weight: 700;
      margin-top: 10px;
    }
    p {
      display: flex;
      flex-direction: column;
      font-size: 45px;
      margin-bottom: unset !important;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;
      text-align: left;
      font-weight: 700;
    }
    h6 {
      font-size: 20px;
      font-weight: 500;
    }
  }

  @media (max-width: 650px) {
    .title-div {
      h4 {
        font-size: 48px;
        margin: 0 !important;
      }
    }
    .get-started {
      padding-top: 0 !important;
      .stick {
        height: calc(100vh - 200px) !important;
        justify-content: start !important;
        .phone-frame-img {
          width: 210px !important;
        }
        .phone-inner-div {
          height: 395px !important;
          width: 100% !important;
          padding: 0 10px !important;
          margin-left: 12px;
          .photo1 {
            width: 195px !important;
            margin-left: -95px !important;
            .photo2 {
              margin-left: -50px !important;
            }
            .photo3 {
              height: 490px !important;
              margin-left: -73px !important;
            }
            .photo4 {
              height: 470px !important;
              width: 200px;
              margin-left: -50px !important;
            }
            .photo5 {
              height: 480px !important;
              margin-left: -50px !important;
            }
          }
        }
      }
      .leftpart {
        right: -35px;
        width: 50%;
        left: unset;
        text-align: left;
        margin-top: 0 !important;
        .number-span {
          font-size: 40px;
        }
        p {
          font-size: 25px !important;
          padding-left: 0 !important;
          width: 140px !important;
          margin-left: 0 !important;
        }
        h6{
          text-align: left; 
          margin-left: 0 !important;
          width: 150px !important;
          font-size: 16px !important;
        }
      }
      .second-rightpart {
        margin-top: 0 !important;
        margin-right: 130px;
        .number-span {
          font-size: 40px;
        }
        p {
          font-size: 32px !important;
          padding-left: 0 !important;
          width: 140px !important;
        }
        h6 {
          width: 150px !important;
          font-size: 17px !important;
          padding-right: 5px !important;
        }
      }
    }
  }
}
