.phone-main-div {
  position: relative;
  height: 520px;
  align-items: center;
  display: flex;
  .iphone {
    margin-top: 85px;
  }
  .phone-pic {
    height: 520px;
    position: absolute;
    z-index: 999;
  }
  .phone-pic1 {
    height: 520px;
    position: absolute;
    z-index: 999;
    video {
      width: 245px;
      height: 515px;
    }
    img {
      clip: 0 2rem;
    }
  }
  .swiper-wrapper {
    padding: 0 10px 0 10px;
    margin: 0 !important;
  }
  .swiper-button-prev:after {
    display: none !important;
  }
  .swiper-button-next:after {
    display: none !important;
  }
  .back-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 999;
    margin-top: 355px;
    height: 220px;

    .img-content {
      background: linear-gradient(
        to bottom,
        rgba(145, 144, 144, 0),
        rgba(0, 0, 0, 0.7)
      );
      width: 260px;
      padding-left: 10px;
      padding-right: 10px;

      border-radius: 0px 0px 20px 20px;
    }
    .form-check {
      margin-top: -279px;
      .tabs {
        background-color: #4a4a4a;
        box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
          0 6px 12px 0 rgba(24, 94, 224, 0.15);
        border-radius: 99px;
        width: fit-content !important;
      }

      .tabs * {
        z-index: 2;
      }

      .tab {
        height: 28px;
        width: 107px;
        font-size: 11px;
        color: rgb(178, 178, 178);
        font-weight: 500;
        border-radius: 99px;
        cursor: pointer;
        transition: color 0.15s ease-in;
      }

      .glider {
        position: absolute;
        display: flex;
        height: 28px;
        width: 107px;
        background: linear-gradient(
            90deg,
            #b827dc 0%,
            #a322de 26%,
            #4190f5 86%,
            #6bdef8 100%
          )
          0% 0% no-repeat padding-box;
        z-index: 1;
        border-radius: 99px;
        transition: 0.25s ease-out;
      }
      .main-tab {
        input[type="radio"] {
          display: none;
        }
        input[type="radio"]:checked + label {
          color: white;
        }

        input[type="radio"]:checked + label > .notification {
          background: linear-gradient(
              90deg,
              #b827dc 0%,
              #a322de 26%,
              #4190f5 86%,
              #6bdef8 100%
            )
            0% 0% no-repeat padding-box;
          border-radius: 50em;
          font-family: "Inter-Medium";
          font-size: 15px;
          border: 4px solid transparent;
          color: white;
          padding: 5px 2.25rem;
          cursor: pointer;
          color: #fff;
          margin: 0px;
        }

        input[id="radio-1"]:checked ~ .glider {
          transform: translateX(0);
        }

        input[id="radio-2"]:checked ~ .glider {
          transform: translateX(100%);
        }

        input[id="radio-3"]:checked ~ .glider {
          transform: translateX(0);
        }

        input[id="radio-4"]:checked ~ .glider {
          transform: translateX(100%);
        }

        input[id="radio-5"]:checked ~ .glider {
          transform: translateX(0);
        }

        input[id="radio-6"]:checked ~ .glider {
          transform: translateX(100%);
        }
      }
    }
  }
  //   .swiper-button-next {
  //     ::after {

  //     }
  //   }
  .subscription {
    background: linear-gradient(
        90deg,
        #b827dc 0%,
        #a322de 26%,
        #4190f5 86%,
        #6bdef8 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 50em;
    font-family: "Inter-Medium";
    font-size: 12px;
    border: 4px solid transparent;
    color: white;
    padding: 5px 2.25rem;
    width: 100%;
    cursor: pointer;
  }
  .progress-bar {
    background: linear-gradient(
        90deg,
        #b827dc 0%,
        #a322de 26%,
        #4190f5 86%,
        #6bdef8 100%
      )
      0% 0% no-repeat padding-box !important;
  }
  .video-overlay {
    background: linear-gradient(rgb(0, 0, 0), #ffffff00, rgb(0, 0, 0));
  }
}

@media screen and (max-width: 1350px) {
  .phone-main-div {
    .iphone {
      margin-top: 0px;
    }
    .back-div {
      .form-check {
        margin-top: -266px;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .phone-main-div {
    .back-div {
      .form-check {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -315px;
        margin-left: 17px;
        .tab {
          width: 97px;
          height: 24px;
        }

        .glider {
          width: 97px;
          height: 24px;
        }
      }
    }
    .phone-pic {
      img {
        width: 250px;
      }
    }
    .phone-pic1 {
      video {
        width: 205px;
        height: 440px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .phone-main-div {
    p {
      font-size: 10px !important;
    }
    h4 {
      font-size: 16px !important;
    }
    .subscription {
      padding: 3px;
      font-size: 9px;
    }
    .iphone {
      margin-top: 150px;
    }
    .back-div {
      .form-check {
        max-width: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -360px;
        margin-left: 39px;
        .tab {
          font-size: 7px;
          width: 65px;
          height: 20px;
        }

        .glider {
          width: 75px;
          height: 20px;
        }
      }
    }
    .phone-pic {
      img {
        width: 200px;
      }
    }
    .phone-pic1 {
      video {
        width: 164px;
        height: 340px;
      }
    }
  }
}
