.explode-main-div {
  .title-div {
    .title {
      width: 500px;
      text-align: center;
      font-size: 64px;
      font-weight: 700;
      background: transparent
        linear-gradient(
          90deg,
          #b827dc 0%,
          #a322de 26%,
          #4190f5 86%,
          #6bdef8 100%
        )
        0% 0% no-repeat padding-box;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .desc-div {
    .description {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .top-btn-div {
    background: transparent
      linear-gradient(90deg, #b827dc 0%, #a322de 26%, #4190f5 86%, #6bdef8 100%)
      0% 0% no-repeat padding-box;
    border-radius: 50em;
    cursor: pointer;
    width: 260px;
    height: 70px;
    .top-btn {
      background: black;
      border: none;
      border-radius: 50em;
      font-size: 25px;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 60px;
    }
  }
  .images-div {
    height: 100vh;
    position: relative;

    text-align: center;

   
    .iphone-div {
      position: relative;
      .rocket-img {
        position: absolute;
        left: 110px;
        top: -122px;
        z-index: 0;
  
        img {
          height: 450px;
        }
      }
      .mobile {
        z-index: 1;
        position: inherit;
      }
      .fire-img {
        position: absolute;
        right: 260px;
        bottom: -85px;
        z-index: 0;
        img {
          height: 390px;
        }
      }
    }
  }
  .images-div:hover {
    .rocket-img {
      animation: rockerMove 1s 1;
    }
    .fire-img {
      animation: fireMove 1s 1;
    }
  }
}
@keyframes rockerMove {
  from {
    left: 110px;
    top: -122px;
  }
  to {
    left: -10px;
    top: -200px;
  }
}
@keyframes fireMove {
  from {
    right: 260px;
    bottom: -85px;
  }
  to {
    right: 180px;
    bottom: -140px
  }
}
